.ul {
  list-style-type: none;
  margin-left: -35px;
}

.breadcrumb {
    background-color: white!important;
}

.ul li {
  padding-bottom: 20px;
}

.link-dark {
  color: grey;
  text-decoration: none;
}

.link-dark:hover {
  color: gainsboro;
  text-decoration: none;
}


.clearfix {
  clear: both;
}

a {
  color: #3b5998;
}


/* For desktop devices */
@media (min-width: 1281px) {

}

/* For most laptop and some desktops devices */
@media (min-width: 1025px) and (max-width: 1280px){

}


/* For tablets and iPads devices */
@media (min-width: 768px) and (max-width: 1024px) {

}


/* For mobile devices */
@media (min-width: 320px) and (max-width: 180px) {
  a {
    color: #3b5998;

  }
}
